{"filter":false,"title":".gitignore","tooltip":"/week10/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":0,"column":0},"end":{"row":0,"column":1},"action":"insert","lines":["*"],"id":1},{"start":{"row":0,"column":1},"end":{"row":0,"column":2},"action":"insert","lines":["t"]},{"start":{"row":0,"column":2},"end":{"row":0,"column":3},"action":"insert","lines":["m"]},{"start":{"row":0,"column":3},"end":{"row":0,"column":4},"action":"insert","lines":["p"]}],[{"start":{"row":0,"column":4},"end":{"row":0,"column":5},"action":"insert","lines":["*"],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":5},"end":{"row":0,"column":5},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1681163551539,"hash":"88b86c62ed2f81487f367ddaaa05ef3b72b63f7d"}